In [59]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn import svm
from sklearn.metrics import f1_score
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
import seaborn as sns
from matplotlib.colors import ListedColormap
from sklearn.linear_model import LogisticRegression
from sklearn.datasets import make_classification
import warnings
warnings.filterwarnings('ignore')
from sklearn.feature_selection import SelectKBest,f_classif

In [2]:
df = pd.read_csv('/media/raian/Projects/Datasets/UCI-HeartDisease/processed.cleveland_test.csv', header=None)
df.columns = ['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal','target']
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
299,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,2
300,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,3
301,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1
302,38.0,1.0,3.0,138.0,175.0,0.0,0.0,173.0,0.0,0.0,1.0,?,3.0,0

In [3]:
df.shape

(303, 14)

In [4]:
# converting to binary class
# replace class 1,2,3,4 by 1

df['target'] = df['target'].mask(df['target']>0, 1)

# count of tuples in class 1 after replacement

df['target'][df['target'] == 1].value_counts().sum()

139

In [5]:
# Replace '?' by np.nan

df = df.replace('?',np.nan)

# Find missing values np.nan

df.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          4
thal        2
target      0
dtype: int64

In [6]:
# Impute np.nan with Most Frequent values

df_imp = df.copy(deep=True)
df_imp
imp = SimpleImputer(strategy='most_frequent')
df_imp = pd.DataFrame(imp.fit_transform(df_imp),columns=df_imp.columns)
df_imp
df_imp.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [7]:
df.ca = df.ca.astype('float64')
df.thal = df.thal.astype('float64')
df.dtypes

age         float64
sex         float64
cp          float64
trestbps    float64
chol        float64
fbs         float64
restecg     float64
thalach     float64
exang       float64
oldpeak     float64
slope       float64
ca          float64
thal        float64
target        int64
dtype: object

In [8]:
df_imp = df_imp.astype('float64')
df_imp.dtypes

age         float64
sex         float64
cp          float64
trestbps    float64
chol        float64
fbs         float64
restecg     float64
thalach     float64
exang       float64
oldpeak     float64
slope       float64
ca          float64
thal        float64
target      float64
dtype: object

In [9]:
X = df_imp.drop(['target'],axis=1)

y = df['target']

In [10]:
sc = StandardScaler()
X_norm = pd.DataFrame(sc.fit_transform(X), columns = X.columns)

## Apply a Classification Algorithm

In [11]:
# define the model

def classification(X_data, cls_name, scoring_method):
    model = cls_name
    
# evaluate model

    cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
    n_scores = cross_val_score(model, X_data, y, scoring=scoring_method, cv=cv)
#     print(n_scores)
#     print(n_scores.shape)
# report performance
#     print('Accuracy: mean = %f ' % (n_scores.mean()))
    return n_scores.mean()

# Feature Subset using F-Test

In [108]:
def apply_f_test(n,measure,c):
    f_test = SelectKBest(f_classif, k=n)
    X_f = f_test.fit_transform(X,y)
    X_f_norm = f_test.fit_transform(X_norm,y)
    
    Score_f_C100.loc[Score_f_C100['#Features'] == n,measure] = classification(X_data=X_f, cls_name=LogisticRegression(C=c), scoring_method=measure)
    Score_f_norm_C100.loc[Score_f_norm_C100['#Features'] == n,measure] = classification(X_data=X_f_norm, cls_name=LogisticRegression(C=c), scoring_method=measure)

In [33]:
# f_test = SelectKBest(f_classif, k=4)
# X_f = f_test.fit_transform(X,y)
# X_f_norm = f_test.fit_transform(X_norm,y)

In [22]:
# X_f.shape

(303, 4)

In [35]:
# X_f_norm.shape

(303, 4)

### Default LR

In [64]:
Score_f = pd.DataFrame(columns=['Classification_Method','#Features', 'accuracy','precision','recall','f1','roc_auc'])
Score_f['#Features']=[3,4,5,6,7,8,9,10]
Score_f['Classification_Method']='LR'
Score_f

  Classification_Method  #Features accuracy precision recall   f1 roc_auc
0                    LR          3      NaN       NaN    NaN  NaN     NaN
1                    LR          4      NaN       NaN    NaN  NaN     NaN
2                    LR          5      NaN       NaN    NaN  NaN     NaN
3                    LR          6      NaN       NaN    NaN  NaN     NaN
4                    LR          7      NaN       NaN    NaN  NaN     NaN
5                    LR          8      NaN       NaN    NaN  NaN     NaN
6                    LR          9      NaN       NaN    NaN  NaN     NaN
7                    LR         10      NaN       NaN    NaN  NaN     NaN

In [67]:
Score_f_norm = pd.DataFrame(columns=['Classification_Method','#Features', 'accuracy','precision','recall','f1','roc_auc'])
Score_f_norm['#Features']=[3,4,5,6,7,8,9,10]
Score_f_norm['Classification_Method']='LR'
Score_f_norm

  Classification_Method  #Features accuracy precision recall   f1 roc_auc
0                    LR          3      NaN       NaN    NaN  NaN     NaN
1                    LR          4      NaN       NaN    NaN  NaN     NaN
2                    LR          5      NaN       NaN    NaN  NaN     NaN
3                    LR          6      NaN       NaN    NaN  NaN     NaN
4                    LR          7      NaN       NaN    NaN  NaN     NaN
5                    LR          8      NaN       NaN    NaN  NaN     NaN
6                    LR          9      NaN       NaN    NaN  NaN     NaN
7                    LR         10      NaN       NaN    NaN  NaN     NaN

In [76]:
# apply_f_test(n,measure,method,c)

# list(map(apply_f_test, [3,4,5,6,7,8,9,10], ['accuracy','accuracy','accuracy','accuracy','accuracy','accuracy','accuracy','accuracy'],[1,1,1,1,1,1,1,1]))
# list(map(apply_f_test, [3,4,5,6,7,8,9,10], ['precision','precision','precision','precision','precision','precision','precision','precision'],[1,1,1,1,1,1,1,1]))
# list(map(apply_f_test, [3,4,5,6,7,8,9,10], ['recall','recall','recall','recall','recall','recall','recall','recall'],[1,1,1,1,1,1,1,1]))
# list(map(apply_f_test, [3,4,5,6,7,8,9,10], ['f1','f1','f1','f1','f1','f1','f1','f1'],[1,1,1,1,1,1,1,1]))
# list(map(apply_f_test, [3,4,5,6,7,8,9,10], ['roc_auc','roc_auc','roc_auc','roc_auc','roc_auc','roc_auc','roc_auc','roc_auc'],[1,1,1,1,1,1,1,1]))

[None, None, None, None, None, None, None, None]

In [77]:
Score_f

,Classification_Method,#Features,accuracy,precision,recall,f1,roc_auc
0,LR,3,0.826487,0.863538,0.750366,0.797071,0.883947
1,LR,4,0.81871,0.829393,0.771612,0.7949,0.888247
2,LR,5,0.832903,0.848391,0.784066,0.810563,0.894825
3,LR,6,0.835233,0.853212,0.781685,0.812642,0.897148
4,LR,7,0.835197,0.859557,0.774542,0.810667,0.894658
5,LR,8,0.842832,0.861154,0.793956,0.821855,0.89897
6,LR,9,0.845125,0.867822,0.789011,0.822892,0.895689
7,LR,10,0.845054,0.868028,0.789194,0.823385,0.893648

In [78]:
Score_f_norm

,Classification_Method,#Features,accuracy,precision,recall,f1,roc_auc
0,LR,3,0.82871,0.867903,0.750366,0.799244,0.883945
1,LR,4,0.816452,0.828758,0.764286,0.791101,0.888831
2,LR,5,0.831864,0.850778,0.779304,0.808662,0.893417
3,LR,6,0.840681,0.86394,0.781685,0.817188,0.896441
4,LR,7,0.835197,0.853172,0.782051,0.812311,0.894377
5,LR,8,0.837312,0.85202,0.791575,0.816694,0.899869
6,LR,9,0.839534,0.856797,0.791575,0.818709,0.89855
7,LR,10,0.838566,0.854206,0.789194,0.817199,0.896225

### LR (C=0.01)

In [82]:
Score_f_C01 = pd.DataFrame(columns=['Classification_Method','#Features', 'accuracy','precision','recall','f1','roc_auc'])
Score_f_C01['#Features']=[3,4,5,6,7,8,9,10]
Score_f_C01['Classification_Method']='LR (C=0.01)'
Score_f_C01

  Classification_Method  #Features accuracy precision recall   f1 roc_auc
0           LR (C=0.01)          3      NaN       NaN    NaN  NaN     NaN
1           LR (C=0.01)          4      NaN       NaN    NaN  NaN     NaN
2           LR (C=0.01)          5      NaN       NaN    NaN  NaN     NaN
3           LR (C=0.01)          6      NaN       NaN    NaN  NaN     NaN
4           LR (C=0.01)          7      NaN       NaN    NaN  NaN     NaN
5           LR (C=0.01)          8      NaN       NaN    NaN  NaN     NaN
6           LR (C=0.01)          9      NaN       NaN    NaN  NaN     NaN
7           LR (C=0.01)         10      NaN       NaN    NaN  NaN     NaN

In [83]:
Score_f_norm_C01 = pd.DataFrame(columns=['Classification_Method','#Features', 'accuracy','precision','recall','f1','roc_auc'])
Score_f_norm_C01['#Features']=[3,4,5,6,7,8,9,10]
Score_f_norm_C01['Classification_Method']='LR (C=0.01)'
Score_f_norm_C01

  Classification_Method  #Features accuracy precision recall   f1 roc_auc
0           LR (C=0.01)          3      NaN       NaN    NaN  NaN     NaN
1           LR (C=0.01)          4      NaN       NaN    NaN  NaN     NaN
2           LR (C=0.01)          5      NaN       NaN    NaN  NaN     NaN
3           LR (C=0.01)          6      NaN       NaN    NaN  NaN     NaN
4           LR (C=0.01)          7      NaN       NaN    NaN  NaN     NaN
5           LR (C=0.01)          8      NaN       NaN    NaN  NaN     NaN
6           LR (C=0.01)          9      NaN       NaN    NaN  NaN     NaN
7           LR (C=0.01)         10      NaN       NaN    NaN  NaN     NaN

In [88]:
# list(map(apply_f_test, [3,4,5,6,7,8,9,10], ['accuracy','accuracy','accuracy','accuracy','accuracy','accuracy','accuracy','accuracy'],[0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01]))
list(map(apply_f_test, [3,4,5,6,7,8,9,10], ['precision','precision','precision','precision','precision','precision','precision','precision'],[1,1,1,1,1,1,1,1]))
list(map(apply_f_test, [3,4,5,6,7,8,9,10], ['recall','recall','recall','recall','recall','recall','recall','recall'],[1,1,1,1,1,1,1,1]))
list(map(apply_f_test, [3,4,5,6,7,8,9,10], ['f1','f1','f1','f1','f1','f1','f1','f1'],[1,1,1,1,1,1,1,1]))
list(map(apply_f_test, [3,4,5,6,7,8,9,10], ['roc_auc','roc_auc','roc_auc','roc_auc','roc_auc','roc_auc','roc_auc','roc_auc'],[1,1,1,1,1,1,1,1]))

[None, None, None, None, None, None, None, None]

In [89]:
Score_f_C01

,Classification_Method,#Features,accuracy,precision,recall,f1,roc_auc
0,LR (C=0.01),3,0.768136,0.863538,0.750366,0.797071,0.883947
1,LR (C=0.01),4,0.791183,0.829393,0.771612,0.7949,0.888247
2,LR (C=0.01),5,0.792079,0.848391,0.784066,0.810563,0.894825
3,LR (C=0.01),6,0.806452,0.853212,0.781685,0.812642,0.897148
4,LR (C=0.01),7,0.803118,0.859557,0.774542,0.810667,0.894658
5,LR (C=0.01),8,0.806452,0.861154,0.793956,0.821855,0.89897
6,LR (C=0.01),9,0.803154,0.867822,0.789011,0.822892,0.895689
7,LR (C=0.01),10,0.80086,0.868028,0.789194,0.823385,0.893648

In [90]:
Score_f_norm_C01

,Classification_Method,#Features,accuracy,precision,recall,f1,roc_auc
0,LR (C=0.01),3,0.829677,0.867903,0.750366,0.799244,0.883945
1,LR (C=0.01),4,0.822903,0.828758,0.764286,0.791101,0.888831
2,LR (C=0.01),5,0.831685,0.850778,0.779304,0.808662,0.893417
3,LR (C=0.01),6,0.841649,0.86394,0.781685,0.817188,0.896441
4,LR (C=0.01),7,0.844946,0.853172,0.782051,0.812311,0.894377
5,LR (C=0.01),8,0.849427,0.85202,0.791575,0.816694,0.899869
6,LR (C=0.01),9,0.838387,0.856797,0.791575,0.818709,0.89855
7,LR (C=0.01),10,0.846093,0.854206,0.789194,0.817199,0.896225

### LR (C=0.1)

In [91]:
Score_f_C1 = pd.DataFrame(columns=['Classification_Method','#Features', 'accuracy','precision','recall','f1','roc_auc'])
Score_f_C1['#Features']=[3,4,5,6,7,8,9,10]
Score_f_C1['Classification_Method']='LR (C=0.1)'
Score_f_C1

  Classification_Method  #Features accuracy precision recall   f1 roc_auc
0            LR (C=0.1)          3      NaN       NaN    NaN  NaN     NaN
1            LR (C=0.1)          4      NaN       NaN    NaN  NaN     NaN
2            LR (C=0.1)          5      NaN       NaN    NaN  NaN     NaN
3            LR (C=0.1)          6      NaN       NaN    NaN  NaN     NaN
4            LR (C=0.1)          7      NaN       NaN    NaN  NaN     NaN
5            LR (C=0.1)          8      NaN       NaN    NaN  NaN     NaN
6            LR (C=0.1)          9      NaN       NaN    NaN  NaN     NaN
7            LR (C=0.1)         10      NaN       NaN    NaN  NaN     NaN

In [92]:
Score_f_norm_C1 = pd.DataFrame(columns=['Classification_Method','#Features', 'accuracy','precision','recall','f1','roc_auc'])
Score_f_norm_C1['#Features']=[3,4,5,6,7,8,9,10]
Score_f_norm_C1['Classification_Method']='LR (C=0.1)'
Score_f_norm_C1

  Classification_Method  #Features accuracy precision recall   f1 roc_auc
0            LR (C=0.1)          3      NaN       NaN    NaN  NaN     NaN
1            LR (C=0.1)          4      NaN       NaN    NaN  NaN     NaN
2            LR (C=0.1)          5      NaN       NaN    NaN  NaN     NaN
3            LR (C=0.1)          6      NaN       NaN    NaN  NaN     NaN
4            LR (C=0.1)          7      NaN       NaN    NaN  NaN     NaN
5            LR (C=0.1)          8      NaN       NaN    NaN  NaN     NaN
6            LR (C=0.1)          9      NaN       NaN    NaN  NaN     NaN
7            LR (C=0.1)         10      NaN       NaN    NaN  NaN     NaN

In [97]:
# list(map(apply_f_test, [3,4,5,6,7,8,9,10], ['accuracy','accuracy','accuracy','accuracy','accuracy','accuracy','accuracy','accuracy'],[0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1]))
list(map(apply_f_test, [3,4,5,6,7,8,9,10], ['precision','precision','precision','precision','precision','precision','precision','precision'],[0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1]))
list(map(apply_f_test, [3,4,5,6,7,8,9,10], ['recall','recall','recall','recall','recall','recall','recall','recall'],[0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1]))
list(map(apply_f_test, [3,4,5,6,7,8,9,10], ['f1','f1','f1','f1','f1','f1','f1','f1'],[0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1]))
list(map(apply_f_test, [3,4,5,6,7,8,9,10], ['roc_auc','roc_auc','roc_auc','roc_auc','roc_auc','roc_auc','roc_auc','roc_auc'],[0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1]))

[None, None, None, None, None, None, None, None]

In [98]:
Score_f_C1

,Classification_Method,#Features,accuracy,precision,recall,f1,roc_auc
0,LR (C=0.1),3,0.798961,0.786074,0.7837,0.780769,0.874878
1,LR (C=0.1),4,0.817563,0.825109,0.77381,0.794115,0.884137
2,LR (C=0.1),5,0.8219,0.821551,0.788462,0.801741,0.891692
3,LR (C=0.1),6,0.837312,0.855153,0.78663,0.815487,0.894639
4,LR (C=0.1),7,0.832975,0.850372,0.781685,0.8104,0.895805
5,LR (C=0.1),8,0.838495,0.85353,0.791392,0.817271,0.899513
6,LR (C=0.1),9,0.837348,0.852772,0.791575,0.816986,0.895542
7,LR (C=0.1),10,0.844086,0.861729,0.793956,0.822842,0.894069

In [99]:
Score_f_norm_C1

,Classification_Method,#Features,accuracy,precision,recall,f1,roc_auc
0,LR (C=0.1),3,0.833047,0.880009,0.747985,0.803113,0.883481
1,LR (C=0.1),4,0.818638,0.83405,0.764286,0.793241,0.888404
2,LR (C=0.1),5,0.835125,0.859666,0.774542,0.81027,0.894271
3,LR (C=0.1),6,0.844014,0.875335,0.776923,0.819101,0.89675
4,LR (C=0.1),7,0.837419,0.862642,0.774725,0.812279,0.896106
5,LR (C=0.1),8,0.842832,0.859123,0.796337,0.822514,0.902508
6,LR (C=0.1),9,0.842832,0.85989,0.796337,0.822449,0.901322
7,LR (C=0.1),10,0.837491,0.854287,0.786813,0.815368,0.898948

### LR (C=10)

In [100]:
Score_f_C10 = pd.DataFrame(columns=['Classification_Method','#Features', 'accuracy','precision','recall','f1','roc_auc'])
Score_f_C10['#Features']=[3,4,5,6,7,8,9,10]
Score_f_C10['Classification_Method']='LR (C=10)'
Score_f_C10

  Classification_Method  #Features accuracy precision recall   f1 roc_auc
0             LR (C=10)          3      NaN       NaN    NaN  NaN     NaN
1             LR (C=10)          4      NaN       NaN    NaN  NaN     NaN
2             LR (C=10)          5      NaN       NaN    NaN  NaN     NaN
3             LR (C=10)          6      NaN       NaN    NaN  NaN     NaN
4             LR (C=10)          7      NaN       NaN    NaN  NaN     NaN
5             LR (C=10)          8      NaN       NaN    NaN  NaN     NaN
6             LR (C=10)          9      NaN       NaN    NaN  NaN     NaN
7             LR (C=10)         10      NaN       NaN    NaN  NaN     NaN

In [101]:
Score_f_norm_C10 = pd.DataFrame(columns=['Classification_Method','#Features', 'accuracy','precision','recall','f1','roc_auc'])
Score_f_norm_C10['#Features']=[3,4,5,6,7,8,9,10]
Score_f_norm_C10['Classification_Method']='LR (C=10)'
Score_f_norm_C10

  Classification_Method  #Features accuracy precision recall   f1 roc_auc
0             LR (C=10)          3      NaN       NaN    NaN  NaN     NaN
1             LR (C=10)          4      NaN       NaN    NaN  NaN     NaN
2             LR (C=10)          5      NaN       NaN    NaN  NaN     NaN
3             LR (C=10)          6      NaN       NaN    NaN  NaN     NaN
4             LR (C=10)          7      NaN       NaN    NaN  NaN     NaN
5             LR (C=10)          8      NaN       NaN    NaN  NaN     NaN
6             LR (C=10)          9      NaN       NaN    NaN  NaN     NaN
7             LR (C=10)         10      NaN       NaN    NaN  NaN     NaN

In [103]:
list(map(apply_f_test, [3,4,5,6,7,8,9,10], ['accuracy','accuracy','accuracy','accuracy','accuracy','accuracy','accuracy','accuracy'],[10,10,10,10,10,10,10,10]))
list(map(apply_f_test, [3,4,5,6,7,8,9,10], ['precision','precision','precision','precision','precision','precision','precision','precision'],[10,10,10,10,10,10,10,10]))
list(map(apply_f_test, [3,4,5,6,7,8,9,10], ['recall','recall','recall','recall','recall','recall','recall','recall'],[10,10,10,10,10,10,10,10]))
list(map(apply_f_test, [3,4,5,6,7,8,9,10], ['f1','f1','f1','f1','f1','f1','f1','f1'],[10,10,10,10,10,10,10,10]))
list(map(apply_f_test, [3,4,5,6,7,8,9,10], ['roc_auc','roc_auc','roc_auc','roc_auc','roc_auc','roc_auc','roc_auc','roc_auc'],[10,10,10,10,10,10,10,10]))

[None, None, None, None, None, None, None, None]

In [104]:
Score_f_C10

,Classification_Method,#Features,accuracy,precision,recall,f1,roc_auc
0,LR (C=10),3,0.826487,0.861906,0.75293,0.797712,0.884488
1,LR (C=10),4,0.815376,0.82656,0.764286,0.790043,0.88884
2,LR (C=10),5,0.829677,0.845853,0.779304,0.806603,0.89368
3,LR (C=10),6,0.834122,0.850862,0.781685,0.811513,0.895277
4,LR (C=10),7,0.836308,0.855697,0.782051,0.813337,0.89469
5,LR (C=10),8,0.837384,0.850065,0.793956,0.81733,0.9008
6,LR (C=10),9,0.842867,0.861886,0.788828,0.820543,0.893341
7,LR (C=10),10,0.842867,0.860834,0.793956,0.822437,0.892912

In [105]:
Score_f_norm_C10

,Classification_Method,#Features,accuracy,precision,recall,f1,roc_auc
0,LR (C=10),3,0.826487,0.861906,0.75293,0.797712,0.884348
1,LR (C=10),4,0.816452,0.828758,0.764286,0.791101,0.888831
2,LR (C=10),5,0.830789,0.84858,0.779304,0.807603,0.893557
3,LR (C=10),6,0.837384,0.857771,0.781685,0.814524,0.896897
4,LR (C=10),7,0.834086,0.852919,0.77967,0.810773,0.893797
5,LR (C=10),8,0.835125,0.849936,0.789194,0.814274,0.899298
6,LR (C=10),9,0.835125,0.849936,0.789194,0.814274,0.897814
7,LR (C=10),10,0.839677,0.85442,0.791575,0.818624,0.895619

### LR (C=100)

In [106]:
Score_f_C100 = pd.DataFrame(columns=['Classification_Method','#Features', 'accuracy','precision','recall','f1','roc_auc'])
Score_f_C100['#Features']=[3,4,5,6,7,8,9,10]
Score_f_C100['Classification_Method']='LR (C=100)'
Score_f_C100

  Classification_Method  #Features accuracy precision recall   f1 roc_auc
0            LR (C=100)          3      NaN       NaN    NaN  NaN     NaN
1            LR (C=100)          4      NaN       NaN    NaN  NaN     NaN
2            LR (C=100)          5      NaN       NaN    NaN  NaN     NaN
3            LR (C=100)          6      NaN       NaN    NaN  NaN     NaN
4            LR (C=100)          7      NaN       NaN    NaN  NaN     NaN
5            LR (C=100)          8      NaN       NaN    NaN  NaN     NaN
6            LR (C=100)          9      NaN       NaN    NaN  NaN     NaN
7            LR (C=100)         10      NaN       NaN    NaN  NaN     NaN

In [107]:
Score_f_norm_C100 = pd.DataFrame(columns=['Classification_Method','#Features', 'accuracy','precision','recall','f1','roc_auc'])
Score_f_norm_C100['#Features']=[3,4,5,6,7,8,9,10]
Score_f_norm_C100['Classification_Method']='LR (C=100)'
Score_f_norm_C100

  Classification_Method  #Features accuracy precision recall   f1 roc_auc
0            LR (C=100)          3      NaN       NaN    NaN  NaN     NaN
1            LR (C=100)          4      NaN       NaN    NaN  NaN     NaN
2            LR (C=100)          5      NaN       NaN    NaN  NaN     NaN
3            LR (C=100)          6      NaN       NaN    NaN  NaN     NaN
4            LR (C=100)          7      NaN       NaN    NaN  NaN     NaN
5            LR (C=100)          8      NaN       NaN    NaN  NaN     NaN
6            LR (C=100)          9      NaN       NaN    NaN  NaN     NaN
7            LR (C=100)         10      NaN       NaN    NaN  NaN     NaN

In [109]:
list(map(apply_f_test, [3,4,5,6,7,8,9,10], ['accuracy','accuracy','accuracy','accuracy','accuracy','accuracy','accuracy','accuracy'],[100,100,100,100,100,100,100,100]))
list(map(apply_f_test, [3,4,5,6,7,8,9,10], ['precision','precision','precision','precision','precision','precision','precision','precision'],[100,100,100,100,100,100,100,100]))
list(map(apply_f_test, [3,4,5,6,7,8,9,10], ['recall','recall','recall','recall','recall','recall','recall','recall'],[100,100,100,100,100,100,100,100]))
list(map(apply_f_test, [3,4,5,6,7,8,9,10], ['f1','f1','f1','f1','f1','f1','f1','f1'],[100,100,100,100,100,100,100,100]))
list(map(apply_f_test, [3,4,5,6,7,8,9,10], ['roc_auc','roc_auc','roc_auc','roc_auc','roc_auc','roc_auc','roc_auc','roc_auc'],[100,100,100,100,100,100,100,100]))

[None, None, None, None, None, None, None, None]

In [110]:
Score_f_C100

,Classification_Method,#Features,accuracy,precision,recall,f1,roc_auc
0,LR (C=100),3,0.824265,0.858145,0.75293,0.795839,0.884348
1,LR (C=100),4,0.815376,0.82656,0.764286,0.790043,0.888831
2,LR (C=100),5,0.830789,0.84858,0.779304,0.807603,0.893697
3,LR (C=100),6,0.838459,0.859481,0.781685,0.815283,0.895551
4,LR (C=100),7,0.835125,0.852104,0.781868,0.81185,0.894213
5,LR (C=100),8,0.83957,0.851799,0.796337,0.819417,0.902083
6,LR (C=100),9,0.840717,0.856151,0.791392,0.819285,0.894874
7,LR (C=100),10,0.846165,0.865334,0.796337,0.826077,0.892776

In [111]:
Score_f_norm_C100

,Classification_Method,#Features,accuracy,precision,recall,f1,roc_auc
0,LR (C=100),3,0.824265,0.858145,0.75293,0.795839,0.884348
1,LR (C=100),4,0.815376,0.82656,0.764286,0.790043,0.888831
2,LR (C=100),5,0.830789,0.84858,0.779304,0.807603,0.893557
3,LR (C=100),6,0.837384,0.857771,0.781685,0.814524,0.896748
4,LR (C=100),7,0.834086,0.852919,0.77967,0.810773,0.893937
5,LR (C=100),8,0.835125,0.849936,0.789194,0.814274,0.899438
6,LR (C=100),9,0.835125,0.849936,0.789194,0.814274,0.897804
7,LR (C=100),10,0.840789,0.856434,0.791575,0.819668,0.895619